@media (max-width: 1023px) {
  .js_cardList_wrap {
    width: 600px;
  }

  section.CardList {
    margin: 0 30px;
  }

  section.CardList.Type_A .card.card3,
  section.CardList.Type_A .card.card5 {
    margin-left: 0px !important;
  }

  section.CardList.Type_E .card.card4 {
    margin-left: 0px !important;
  }


  // TYPE A CARD LIST

  section.CardList.Type_A .card {
    float: left;
    width: 255px;
    height: 259px;
    padding: 15px 0
  }

  section.CardList.Type_A .cardlistCopy {
    bottom: 115px;
  }

  // TYPE B CARD LIST

  section.CardList.Type_B .card.card3 {
    Display: none;
  }

  section.CardList.Type_B .card {
    float: left;
    width: 255px;
    height: 188px;
    padding: 15px 0
  }

  section.CardList.Type_B .cardlistCopy {
    bottom: 115px;
  }

  // TYPE C CARD LIST
  section.CardList.Type_C .card {
    float: left;
    width: 540px;
    height: 257px;
    padding: 15px 0
  }

  section.CardList.Type_C .card {
    margin: 0 !important;
  }

  section.CardList.Type_C .cardlistCopy {
    bottom: 115px;
  }

  // TYPE D CARD LIST

  section.CardList.Type_D .card {
    float: left;
    width: 540px;
    height: 435px;
    padding: 15px 0
  }

  section.CardList.Type_D .card {
    margin: 0 !important;
  }

  section.CardList.Type_D .cardlistCopy {
    bottom: 115px;
  }

  // TYPE E CARD LIST

  section.CardList.Type_E {
    width: 493px;
    margin: 0 auto;
  }

}